h1{
    color : yellow;
  
}


.header{
    background-color: gray;
    display: flex;
    display: flex;
    justify-content: space-between;
   
}
body{
    background-color: skyblue;
    
    
}
.grid{
    display: flex;
    
    flex-wrap: wrap;
    
        border : solid;
    }
    p{
        text-align: center;
    }
        
    a{
        border: solid;
    }
    p{
        color:green;
    }


